body {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;		/*cache le surplux causé par le background de la section compétence, et du footer de par la rotation*/
}
/*						 				*/
/*					HEADER 				*/
/*						 				*/
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#logo {
	width: 90px;
	height: auto;
	padding-left: 20px;
}

.right:hover{
	color: #B23434;
	transition-duration: 0.5s;	
}

.right {
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	padding-right: 40px;
	font-size: 18px;
	font-weight: bold;
}
/*						 				*/
/*					</HEADER 			*/
/*						 				*/
/*						 				*/
/*					ACCUEIL				*/
/*						 				*/
#accueil_Page {
	display: flex;
	background: url('../img/pineapple-supply-co-n_CvvktBf-Q-unsplash.jpg');
	box-shadow: 0px 4px 10px -5px black;
	background-size: cover;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 93vh;
}

#accueil_Page #info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
	text-align: center;
	background-color: rgba(41,41,41,0.7);	/* couleur rbga + l'opacité*/
	box-shadow: 2px 4px 10px -5px black;
	color: white;
	padding: 15px 10px;
}

#accueil_Page #info h1 {
	text-transform: uppercase;
}

#accueil_Page #info h1 span {
	margin-top: 50px;
}

#accueil_Page #info p {
	font-family: 'Lato', sans-serif;
	width: 90%;
	line-height: 25px;
	margin-bottom: 35px;
}

#accueil_Page #info button a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

#accueil_Page #info button {
	background-color: #B23434;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

#accueil_Page #info button i {
	display: inline-flex;	/*Aligne l'icon dans le button*/
}

#accueil_Page #info button:hover{
	background-color: white;
	transition-duration: 0.7s;
}

#accueil_Page #info button:hover a {
	color: #B23434;
	transition-duration: 0.7s;
}

#arrowDown {
	color: white;
	position: absolute;
	margin-top: 50px;
}
/*						 				*/
/*					</ACCUEIL			*/
/*						 				*/
/*						 				*/
/*					COMPETENCES			*/
/*						 				*/
#competence_Page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #3A3535;
	color: white;
	padding: 40px 0px;
	transform: rotate(-4deg);		/* Rotation du Background  de -4deg*/
	z-index: -2;		  			/* place le section compétence (dont le background dèriere les autre section sur l'axe z*/
	position: relative;		 		/* Met une position pour pouvoir utilisé z-index*/
	padding-top: 140px;				/*comble l'espace engendrer par la rotation du background*/
	margin: -55px -30px 0px -30px;	/*comble l'espace engendrer par la rotation du background*/
}

#competence_Page h2 {
	text-transform: uppercase;
	font-size: 30px;
	transform: rotate(4deg);	/*"Annule" l'effet de la rotation engendrer par le background sur le titre*/
}

#competence_Page h2:after {
	content:'';				/* Va creer une ligne*/
	display:inline-block;
	width:100%;
	border-bottom:3px solid #B23434;
	box-shadow: 1px 4px 5px black;
}

#competence_Page .ulliRow {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	transform: rotate(4deg);	/*"Annule" l'effet de la rotation engendrer par le background sur le contenu de la section*/
}

#competence_Page h3 {
	font-size: 25px;
	padding-left: 15px;
	text-shadow: 1px 4px 5px black;
	text-transform: uppercase;
}

li {
	color: #B23434;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 3px 3px black;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	line-height: 50px;
}

li span {
	color: white;
}
/*						 				*/
/*					</COMPETENCES		*/
/*						 				*/
/*						 				*/
/*					PORTFOLIO  			*/
/*						 				*/

#portfolio_Page {
	margin: 70px 0px;
	display: flex;
	width: 100%;
	flex-direction: column;
}

#redBG {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #B23434;
	color: white;
	padding: 40px 0px 80px 0px;

}

#portfolio_Page h2 {
	text-transform: uppercase;
	font-size: 30px;
}

#portfolio_Page h2:after {
	content:'';				/* Va creer une ligne*/
	display:inline-block;
	width:100%;
	border-bottom:3px solid black;
	box-shadow: 1px 4px 5px black;
}

#projets {
	margin-top: -25px; /*Décale les projets de -25px vers le haut*/
}


#projet1, #projet2, #projet3 {
	display: flex;
	flex-direction: row;
	width: 80%;
	padding: 20px;
	margin-bottom: 40px;
	color: black;
	box-shadow:  0px 2px 10px black;
	background-color: white;
}

#projets img {
	width: 25%;
	height: auto;
}

#projet1, #projet3 {
	float: left;
	margin-left: 80px;
}

#projet2 {
	float: right;
	margin-right: 80px;
}


#projets p {
	width: 80%;
	line-height: 25px;
}

.infoProjet p{
	margin-left: 50px;
}

.btnProjet {
	display: flex;
	justify-content: flex-end; /*Place les button a droite*/
	margin-top: 30px;
}

.voirBtn {
	border: none;
	background-color: #B23434;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 30px;
	margin-right: 40px;
	border-radius: 4px;
	cursor: pointer;
}

.voirBtn:hover {
	color: #B23434;
	background-color: white;
	border: 2px solid #B23434;
	transition-duration: 0.5s;
}

.avisBtn {
	border: none;
	background-color: #3A3535;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 30px;
	margin-right: 40px;
	border-radius: 4px;
	cursor: pointer;
}

.avisBtn:hover {
	color: #3A3535;
	background-color: white;
	border: 2px solid #3A3535;
	transition-duration: 0.5s;
}
/*						 				*/
/*					</PORTFOLIO  		*/
/*						 				*/
/*						 				*/
/*					CONTACT 	  		*/
/*						 				*/
#contact_Page {
	background-color: #3A3535;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	padding-top: 70px;
	padding-bottom: 40px;
}

#contact_Page h2 {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 55px;
}

#contact_Page h2:after {
	content:'';				/* Va creer une ligne*/
	display:inline-block;
	width:100%;
	border-bottom:3px solid #B23434;
	box-shadow: 1px 4px 5px black;
}

#contact_Page input {
	width: 350px;
	margin-bottom: 10px;
	padding: 5px 5px;
	border: none;
	border-radius: 2px;
}

#contact_Page textarea {
	width: 350px;
	height: 140px;
	padding: 5px 5px;
	border: none;
	border-radius: 2px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact_Page button {
	width: 130px;
	padding: 5px 0px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: #B23434;
	border:none;
	cursor: pointer;
	border-radius: 2px;
	margin-bottom: 40px;
}

#contact_Page button:hover {
	background-color: #B23434;
	color: white;
	transition-duration: 0.5s;
}

.fa-linkedin {
	margin-left: 10px;
}
/*						 				*/
/*					</CONTACT 	  		*/
/*						 				*/
/*						 				*/
/*					FOOTER   	  		*/
/*						 				*/
footer {
	background-color: black;
	display: flex;
	color: white;
	justify-content: space-around;
	align-items: center;
	transform: rotate(0.5deg);		/* Rotation du Background  de 0.5deg*/
	z-index: 1;		  				/* place le footer (dont le background, devant les autres sections sur l'axe z*/
	position: relative;		 		/* Met une position pour pouvoir utilisé z-index*/
	overflow-y: hidden;				/* cache une partie de la rotation du footer sur l'axe y*/
	margin-top: -10px;
	margin-bottom: -110px;

}

footer p, a {
	display: inline-flex;
	transform: rotate(-1deg);	
	font-size: 13px;
	padding: 10px 0px;
}

footer a {
	color: white;
	text-decoration: none;
	transform: rotate(-0.5deg);
	font-size: 13px;
	text-transform: uppercase;
}

/*						 				*/
/*					</FOOTER   	  		*/
/*						 				*/